@model Curso

@{
    ViewData["Titulo"] = "Nuevo Curso";
    Layout = "Template_Simple";
}

<h1>@ViewData["Titulo"]</h1>

<div asp-validation-summary="All"></div>

<form method="POST">

    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" />
    </div>
    <div>
        <label asp-for="Dirección"></label>
        <input asp-for="Dirección" />
    </div>
    <div>
        <label asp-for="Jornada"></label>
        @Html.DropDownList(
            "Jornada"
            ,Html.GetEnumSelectList<TiposJornada>()
            ,"Seleccione Jornada..."
            ,new {@class = "form-control"}
            )
    </div>

    <input type="submit" text="Guardar">
</form>

<partial><i>@ViewBag.Fecha</i></partial>